openapi: 3.0.3
info:
  title: ESSE3 University Information System API
  description: HTML API for the University of Milano-Bicocca Online Student Information System
  version: 1.0.0
  contact:
    name: University of Milano-Bicocca
    url: https://www.unimib.it
servers:
  - url: https://s3w.si.unimib.it
    description: Production server
tags:
  - name: esse3_auth
    description: Authentication and session management
  - name: esse3_core
    description: Core system endpoints
  - name: esse3_addressbook
    description: Address book and personal data
  - name: esse3_calendar
    description: Calendar and appointments
  - name: esse3_degrees
    description: Degrees and qualifications
  - name: esse3_enrollment
    description: Enrollment management
  - name: esse3_admission
    description: Admission process
  - name: esse3_appelli
    description: Exam sessions and registration
  - name: esse3_carriera
    description: Academic career
  - name: esse3_certificati
    description: Certificates
  - name: esse3_tasse
    description: Fees and payments
  - name: esse3_tirocini
    description: Internships and placements
  - name: esse3_questionari
    description: Questionnaires and surveys
  - name: esse3_diritto_studio
    description: Student welfare and scholarships
  - name: esse3_student
    description: Student portal
  - name: esse3_checklist
    description: Process checklists
paths:
  /AddressBook/IndirizziSubmit.do:
    post:
      operationId: postIndirizzisubmit
      summary: Indirizzi Submit
      description: Endpoint for address book and personal data - IndirizziSubmit
      tags:
        - esse3_addressbook
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/naz_res_id:
                  type: string
                  example: '1_1'
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/p01_comu_comu_res_sigla:
                  type: string
                  example: MI
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/com_res_id:
                  type: string
                  example: '4745'
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/cap_res:
                  type: string
                  example: '20123'
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/fraz_res:
                  type: string
                  example: Milano
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/via_res:
                  type: string
                  example: Via San Sisto
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/num_civ_res:
                  type: string
                  example: '4'
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/tel_res:
                  type: string
                  example: '+393495089819'
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/dom_come_res_flg:
                  type: string
                  example: '1'
                form_id_formResDom:
                  type: string
                  example: formResDom
                procedi:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /AddressBook/RecapitoSubmit.do:
    post:
      operationId: postRecapitosubmit
      summary: Recapito Submit
      description: Endpoint for address book and personal data - RecapitoSubmit
      tags:
        - esse3_addressbook
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/tipo_indiriz_cod:
                  type: string
                  example: R
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/recapito_tasse:
                  type: string
                  example: R
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/email:
                  type: string
                  example: alautiero@gmail.com
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/fax:
                  type: string
                INTL_PREFIX_CELLULARE:
                  type: string
                  example: '+39'
                INTL_PREFIX_TXT_CELLULARE:
                  type: string
                /WS/DataSet[@LocalEntityName='P01_ANAPER_ANAG_WEB']/Row[@Num='1']/cellulare:
                  type: string
                  example: '+393495089819'
                CONS_675_FLG:
                  type: string
                  example: '1'
                form_id_formRecapito:
                  type: string
                  example: formRecapito
                procedi:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /CookieConfig.do:
    get:
      operationId: getCookieconfig
      summary: Cookie Config
      description: Endpoint for system - CookieConfig
      tags:
        - esse3_core
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /PageLoaded.do:
    get:
      operationId: getPageloaded
      summary: Page Loaded
      description: Endpoint for system - PageLoaded
      tags:
        - esse3_core
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
  /ProcessManagementWF.do:
    post:
      operationId: postProcessmanagementwf
      summary: Process Management W F
      description: Endpoint for system - ProcessManagementWF
      tags:
        - esse3_core
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Anagrafica
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                gp_processo:
                  type: string
                  example: CONCVAL
                gp_id_processo:
                  type: string
                form_id_form_processo:
                  type: string
                  example: form_processo
                btnProcedi:
                  type: string
                  example: Iscrizione Test di valutazione
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /Root.do:
    get:
      operationId: getRoot
      summary: Root
      description: Endpoint for system - Root
      tags:
        - esse3_auth
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /Shibboleth.sso/SAML2/POST:
    post:
      operationId: postPost
      summary: P O S T
      description: Endpoint for system - POST
      tags:
        - esse3_auth
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                RelayState:
                  type: string
                  example: ss:mem:1cc40358e07a9e991820206fd97fd10d5d2c37695c145992bdbf86a61aa6c15b
                SAMLResponse:
                  type: string
                  example: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c2FtbDJwOlJlc3BvbnNlIHhtbG5zOnNhbWwycD0idXJuOm9h
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDicHandElencoForm.do:
    get:
      operationId: getAbdichandelencoform
      summary: Dic Hand Elenco Form
      description: Endpoint for address book and personal data - ABDicHandElencoForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDicHandStartFakeProcesso.do:
    get:
      operationId: getAbdichandstartfakeprocesso
      summary: Dic Hand Start Fake Processo
      description: Endpoint for address book and personal data - ABDicHandStartFakeProcesso
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaAllegElimina.do:
    get:
      operationId: getAbdocidentitaallegelimina
      summary: Doc Identita Alleg Elimina
      description: Endpoint for address book and personal data - ABDocIdentitaAllegElimina
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: allegato_id
          in: query
          description: 'Query parameter: allegato_id'
          required: false
          schema:
            type: string
          example: '1274780'
        - name: IS_DELETE
          in: query
          description: 'Query parameter: IS_DELETE'
          required: false
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaAllegEliminaSubmit.do:
    post:
      operationId: postAbdocidentitaallegeliminasubmit
      summary: Doc Identita Alleg Elimina Submit
      description: Endpoint for address book and personal data - ABDocIdentitaAllegEliminaSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formDel:
                  type: string
                  example: formDel
                procedi:
                  type: string
                  example: Conferma
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaAllegForm.do:
    get:
      operationId: getAbdocidentitaallegform
      summary: Doc Identita Alleg Form
      description: Endpoint for address book and personal data - ABDocIdentitaAllegForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaAllegStartWiz.do:
    post:
      operationId: postAbdocidentitaallegstartwiz
      summary: Doc Identita Alleg Start Wiz
      description: Endpoint for address book and personal data - ABDocIdentitaAllegStartWiz
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formInsAllegati:
                  type: string
                  example: formInsAllegati
                btnInsert:
                  type: string
                  example: Inserisci Allegato
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
    get:
      operationId: getAbdocidentitaallegstartwiz
      summary: Doc Identita Alleg Start Wiz
      description: Endpoint for address book and personal data - ABDocIdentitaAllegStartWiz
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: allegato_id
          in: query
          description: 'Query parameter: allegato_id'
          required: false
          schema:
            type: string
          example: '1274780'
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaAllegSubmit.do:
    post:
      operationId: postAbdocidentitaallegsubmit
      summary: Doc Identita Alleg Submit
      description: Endpoint for address book and personal data - ABDocIdentitaAllegSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaConferma.do:
    get:
      operationId: getAbdocidentitaconferma
      summary: Doc Identita Conferma
      description: Endpoint for address book and personal data - ABDocIdentitaConferma
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaConfermaInsertSubmit.do:
    post:
      operationId: postAbdocidentitaconfermainsertsubmit
      summary: Doc Identita Conferma Insert Submit
      description: Endpoint for address book and personal data - ABDocIdentitaConfermaInsertSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formProsegui:
                  type: string
                  example: formProsegui
                procedi:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaDownloadAllegato.do:
    get:
      operationId: getAbdocidentitadownloadallegato
      summary: Doc Identita Download Allegato
      description: Endpoint for address book and personal data - ABDocIdentitaDownloadAllegato
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: allegato_id
          in: query
          description: 'Query parameter: allegato_id'
          required: false
          schema:
            type: string
          example: '1274780'
      responses:
        '200':
          description: Successful operation
  /auth/AddressBook/ABDocIdentitaElAllegatiInsert.do:
    get:
      operationId: getAbdocidentitaelallegatiinsert
      summary: Doc Identita El Allegati Insert
      description: Endpoint for address book and personal data - ABDocIdentitaElAllegatiInsert
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaElAllegatiInsertSubmit.do:
    post:
      operationId: postAbdocidentitaelallegatiinsertsubmit
      summary: Doc Identita El Allegati Insert Submit
      description: Endpoint for address book and personal data - ABDocIdentitaElAllegatiInsertSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaElenco.do:
    get:
      operationId: getAbdocidentitaelenco
      summary: Doc Identita Elenco
      description: Endpoint for address book and personal data - ABDocIdentitaElenco
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaElencoSubmit.do:
    post:
      operationId: postAbdocidentitaelencosubmit
      summary: Doc Identita Elenco Submit
      description: Endpoint for address book and personal data - ABDocIdentitaElencoSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formProsegui:
                  type: string
                  example: formProsegui
                procedi:
                  type: string
                  example: Prosegui
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaEndAzione.do:
    get:
      operationId: getAbdocidentitaendazione
      summary: Doc Identita End Azione
      description: Endpoint for address book and personal data - ABDocIdentitaEndAzione
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaEndInsertWiz.do:
    get:
      operationId: getAbdocidentitaendinsertwiz
      summary: Doc Identita End Insert Wiz
      description: Endpoint for address book and personal data - ABDocIdentitaEndInsertWiz
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaFormInsert.do:
    get:
      operationId: getAbdocidentitaforminsert
      summary: Doc Identita Form Insert
      description: Endpoint for address book and personal data - ABDocIdentitaFormInsert
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABDocIdentitaInsertRouter.do:
    get:
      operationId: getAbdocidentitainsertrouter
      summary: Doc Identita Insert Router
      description: Endpoint for address book and personal data - ABDocIdentitaInsertRouter
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaMsgPost.do:
    get:
      operationId: getAbdocidentitamsgpost
      summary: Doc Identita Msg Post
      description: Endpoint for address book and personal data - ABDocIdentitaMsgPost
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaMsgPre.do:
    get:
      operationId: getAbdocidentitamsgpre
      summary: Doc Identita Msg Pre
      description: Endpoint for address book and personal data - ABDocIdentitaMsgPre
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaStartInsertInProc.do:
    post:
      operationId: postAbdocidentitastartinsertinproc
      summary: Doc Identita Start Insert In Proc
      description: Endpoint for address book and personal data - ABDocIdentitaStartInsertInProc
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formInsDocIdent:
                  type: string
                  example: formInsDocIdent
                btnInsert:
                  type: string
                  example: Inserisci nuovo documento di identità
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABDocIdentitaSubmitInsert.do:
    post:
      operationId: postAbdocidentitasubmitinsert
      summary: Doc Identita Submit Insert
      description: Endpoint for address book and personal data - ABDocIdentitaSubmitInsert
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/doc_ident_tipo_cod:
                  type: string
                  example: PAS
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/num:
                  type: string
                  example: YC6609876
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/ente_rilascio:
                  type: string
                  example: Milano
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/data_rilascio:
                  type: string
                  example: 28/08/2024
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/data_scadenza:
                  type: string
                  example: 27/08/2034
                /WS/DataSet[@LocalEntityName='ANAPER_DOC_IDENTITA']/Row[@Num='1']/doc_pers_id:
                  type: string
                form_id_formDocIdent:
                  type: string
                  example: formDocIdent
                procedi:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABInizioAnagraficaInProcesso.do:
    get:
      operationId: getAbinizioanagraficainprocesso
      summary: Inizio Anagrafica In Processo
      description: Endpoint for address book and personal data - ABInizioAnagraficaInProcesso
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Anagrafica
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABMsgAnaPreForm.do:
    get:
      operationId: getAbmsganapreform
      summary: Msg Ana Pre Form
      description: Endpoint for address book and personal data - ABMsgAnaPreForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABPrivacyPolicyConsensiForm.do:
    get:
      operationId: getAbprivacypolicyconsensiform
      summary: Privacy Policy Consensi Form
      description: Endpoint for address book and personal data - ABPrivacyPolicyConsensiForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABPrivacyPolicyConsensiSubmit.do:
    post:
      operationId: postAbprivacypolicyconsensisubmit
      summary: Privacy Policy Consensi Submit
      description: Endpoint for address book and personal data - ABPrivacyPolicyConsensiSubmit
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_ab_privacy_policy_form:
                  type: string
                  example: ab_privacy_policy_form
                avanti:
                  type: string
                  example: Avanti
                /WS/DataSet[@LocalEntityName='P01_ANAPER_CONSENSI_WEB_PROC']/Row[tipo_consenso_cod='AGEV_MASTER']/consenso_flg:
                  type: string
                  example: '1'
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABPrivacyPolicyMsgPost.do:
    get:
      operationId: getAbprivacypolicymsgpost
      summary: Privacy Policy Msg Post
      description: Endpoint for address book and personal data - ABPrivacyPolicyMsgPost
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABPrivacyPolicyMsgPre.do:
    get:
      operationId: getAbprivacypolicymsgpre
      summary: Privacy Policy Msg Pre
      description: Endpoint for address book and personal data - ABPrivacyPolicyMsgPre
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABPrivacyPolicyStartAction.do:
    get:
      operationId: getAbprivacypolicystartaction
      summary: Privacy Policy Start Action
      description: Endpoint for address book and personal data - ABPrivacyPolicyStartAction
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: gp_processo
          in: query
          description: 'Query parameter: gp_processo'
          required: false
          schema:
            type: string
          example: PR_POLICY
        - name: gp_id_processo
          in: query
          description: 'Query parameter: gp_id_processo'
          required: false
          schema:
            type: string
          example: ''
        - name: form_id_form_processo
          in: query
          description: 'Query parameter: form_id_form_processo'
          required: false
          schema:
            type: string
          example: form_processo
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Anagrafica
        - name: btnProcedi
          in: query
          description: 'Query parameter: btnProcedi'
          required: false
          schema:
            type: string
          example: Richiesta Consensi
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/ABPrivacyPolicyStartProcess.do:
    get:
      operationId: getAbprivacypolicystartprocess
      summary: Privacy Policy Start Process
      description: Endpoint for address book and personal data - ABPrivacyPolicyStartProcess
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Anagrafica
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABProcessoFotoStart.do:
    get:
      operationId: getAbprocessofotostart
      summary: Processo Foto Start
      description: Endpoint for address book and personal data - ABProcessoFotoStart
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Anagrafica
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABSubWizIndirizziResForm.do:
    get:
      operationId: getAbsubwizindirizziresform
      summary: Sub Wiz Indirizzi Res Form
      description: Endpoint for address book and personal data - ABSubWizIndirizziResForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/ABSubWizRecapitoForm.do:
    get:
      operationId: getAbsubwizrecapitoform
      summary: Sub Wiz Recapito Form
      description: Endpoint for address book and personal data - ABSubWizRecapitoForm
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/AddressBook/DownloadFoto.do:
    get:
      operationId: getDownloadfoto
      summary: Download Foto
      description: Endpoint for address book and personal data - DownloadFoto
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      parameters:
        - name: r
          in: query
          description: 'Query parameter: r'
          required: false
          schema:
            type: string
          example: 5B23AD3ACB
      responses:
        '200':
          description: Successful operation
  /auth/AddressBook/EndAnagrafica.do:
    post:
      operationId: postEndanagrafica
      summary: Nd Anagrafica
      description: Endpoint for address book and personal data - EndAnagrafica
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_summaryForm:
                  type: string
                  example: summaryForm
                procedi:
                  type: string
                  example: Conferma
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/AddressBook/LoopAnagrafica.do:
    get:
      operationId: getLoopanagrafica
      summary: Loop Anagrafica
      description: Endpoint for address book and personal data - LoopAnagrafica
      tags:
        - esse3_addressbook
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Autocertificazioni/Autocertificazione.do:
    get:
      operationId: getAutocertificazione
      summary: Autocertificazione
      description: Endpoint for system - Autocertificazione
      tags:
        - other
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Autocertificazioni/TipiModelli.do:
    get:
      operationId: getTipimodelli
      summary: Tipi Modelli
      description: Endpoint for system - TipiModelli
      tags:
        - other
      security:
        - sessionAuth: []
      parameters:
        - name: cod_dato
          in: query
          description: 'Query parameter: cod_dato'
          required: false
          schema:
            type: string
          example: 2_RATA
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Calendar/CACancellaAppuntamentoSubmit.do:
    get:
      operationId: getCacancellaappuntamentosubmit
      summary: Cancella Appuntamento Submit
      description: Endpoint for calendar and appointments - CACancellaAppuntamentoSubmit
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      parameters:
        - name: TIPO_SUBCONT_COD
          in: query
          description: 'Query parameter: TIPO_SUBCONT_COD'
          required: false
          schema:
            type: string
          example: ''
        - name: TIPO_GEST_COD_CAL
          in: query
          description: 'Query parameter: TIPO_GEST_COD_CAL'
          required: false
          schema:
            type: string
          example: '2'
        - name: TIPO_CAL_COD
          in: query
          description: 'Query parameter: TIPO_CAL_COD'
          required: false
          schema:
            type: string
          example: NO_INGL
        - name: CAL_APP_ISCRITTI_ID
          in: query
          description: 'Query parameter: CAL_APP_ISCRITTI_ID'
          required: false
          schema:
            type: string
          example: '168472'
        - name: APP_DES
          in: query
          description: 'Query parameter: APP_DES'
          required: false
          schema:
            type: string
          example: Lunedì ​15/12/2025 ​dalle ​10:00 ​alle ​12:00
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
    post:
      operationId: postCacancellaappuntamentosubmit
      summary: Cancella Appuntamento Submit
      description: Endpoint for calendar and appointments - CACancellaAppuntamentoSubmit
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                TIPO_SUBCONT_COD:
                  type: string
                TIPO_GEST_COD_CAL:
                  type: string
                  example: '2'
                TIPO_CAL_COD:
                  type: string
                  example: NO_INGL
                CAL_APP_ISCRITTI_ID:
                  type: string
                  example: '168472'
                form_id_form1:
                  type: string
                  example: form1
                btnOk:
                  type: string
                  example: Procedi
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Calendar/CAInsModPreCalAppStartSubProcess.do:
    get:
      operationId: getCainsmodprecalappstartsubprocess
      summary: Ins Mod Pre Cal App Start Sub Process
      description: Endpoint for calendar and appointments - CAInsModPreCalAppStartSubProcess
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      parameters:
        - name: TIPO_SUBCONT_COD
          in: query
          description: 'Query parameter: TIPO_SUBCONT_COD'
          required: false
          schema:
            type: string
          example: ''
        - name: TIPO_GEST_COD_CAL
          in: query
          description: 'Query parameter: TIPO_GEST_COD_CAL'
          required: false
          schema:
            type: string
          example: '2'
        - name: TIPO_CAL_COD
          in: query
          description: 'Query parameter: TIPO_CAL_COD'
          required: false
          schema:
            type: string
          example: NO_INGL
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Calendar/CAPrenotazCalendarioAppElenco.do:
    get:
      operationId: getCaprenotazcalendarioappelenco
      summary: Prenotaz Calendario App Elenco
      description: Endpoint for calendar and appointments - CAPrenotazCalendarioAppElenco
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Calendar/CAPrenotazCalendarioAppStartFakeProcessAction.do:
    get:
      operationId: getCaprenotazcalendarioappstartfakeprocessaction
      summary: Prenotaz Calendario App Start Fake Process Action
      description: Endpoint for calendar and appointments - CAPrenotazCalendarioAppStartFakeProcessAction
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
        - name: sel_turno
          in: query
          description: 'Query parameter: sel_turno'
          required: false
          schema:
            type: string
          example: '12386'
        - name: TIPO_CAL_COD
          in: query
          description: 'Query parameter: TIPO_CAL_COD'
          required: false
          schema:
            type: string
          example: NO_INGL
        - name: TIPO_SUBCONT_COD
          in: query
          description: 'Query parameter: TIPO_SUBCONT_COD'
          required: false
          schema:
            type: string
          example: ''
        - name: form_id_formTurni
          in: query
          description: 'Query parameter: form_id_formTurni'
          required: false
          schema:
            type: string
          example: formTurni
        - name: btnSalva
          in: query
          description: 'Query parameter: btnSalva'
          required: false
          schema:
            type: string
          example: Conferma Prenotazione e Procedi
        - name: TIPO_GEST_COD_CAL
          in: query
          description: 'Query parameter: TIPO_GEST_COD_CAL'
          required: false
          schema:
            type: string
          example: '2'
        - name: sel_turno_nota_12386
          in: query
          description: 'Query parameter: sel_turno_nota_12386'
          required: false
          schema:
            type: string
          example: test
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Calendar/PrenotazioneTurnoForm.do:
    get:
      operationId: getPrenotazioneturnoform
      summary: Prenotazione Turno Form
      description: Endpoint for calendar and appointments - PrenotazioneTurnoForm
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Calendar/PrenotazioneTurnoFormSubmit.do:
    post:
      operationId: postPrenotazioneturnoformsubmit
      summary: Prenotazione Turno Form Submit
      description: Endpoint for calendar and appointments - PrenotazioneTurnoFormSubmit
      tags:
        - esse3_calendar
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                sel_turno:
                  type: string
                  example: '12386'
                sel_turno_nota_12386:
                  type: string
                  example: test
                TIPO_CAL_COD:
                  type: string
                  example: NO_INGL
                TIPO_GEST_COD_CAL:
                  type: string
                  example: '2'
                TIPO_SUBCONT_COD:
                  type: string
                form_id_formTurni:
                  type: string
                  example: formTurni
                btnSalva:
                  type: string
                  example: Conferma Prenotazione e Procedi
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/ChunkUpload.do:
    post:
      operationId: postChunkupload
      summary: Chunk Upload
      description: Endpoint for system - ChunkUpload
      tags:
        - other
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
  /auth/ChunkUploadEnd.do:
    post:
      operationId: postChunkuploadend
      summary: Chunk Upload End
      description: Endpoint for system - ChunkUploadEnd
      tags:
        - other
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
                  allegatoId:
                    type: integer
  /auth/ChunkUploadStart.do:
    post:
      operationId: postChunkuploadstart
      summary: Chunk Upload Start
      description: Endpoint for system - ChunkUploadStart
      tags:
        - other
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: integer
  /auth/Degrees/DGAnagaficaTitoliStartProcesso.do:
    get:
      operationId: getDganagaficatitolistartprocesso
      summary: Anagafica Titoli Start Processo
      description: Endpoint for degrees and qualifications - DGAnagaficaTitoliStartProcesso
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGAnagraficaTitoliForm.do:
    get:
      operationId: getDganagraficatitoliform
      summary: Anagrafica Titoli Form
      description: Endpoint for degrees and qualifications - DGAnagraficaTitoliForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/DGAnagraficaTitoliMsgPreForm.do:
    get:
      operationId: getDganagraficatitolimsgpreform
      summary: Anagrafica Titoli Msg Pre Form
      description: Endpoint for degrees and qualifications - DGAnagraficaTitoliMsgPreForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGElencoAllegatiStartWizTitStra.do:
    get:
      operationId: getDgelencoallegatistartwiztitstra
      summary: Elenco Allegati Start Wiz Tit Stra
      description: Endpoint for degrees and qualifications - DGElencoAllegatiStartWizTitStra
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/DGElencoAllegatiTitStra.do:
    get:
      operationId: getDgelencoallegatititstra
      summary: Elenco Allegati Tit Stra
      description: Endpoint for degrees and qualifications - DGElencoAllegatiTitStra
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/DGElencoAllegatiTitStraSubmit.do:
    post:
      operationId: postDgelencoallegatititstrasubmit
      summary: Elenco Allegati Tit Stra Submit
      description: Endpoint for degrees and qualifications - DGElencoAllegatiTitStraSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGElencoEsamiTitoli.do:
    get:
      operationId: getDgelencoesamititoli
      summary: Elenco Esami Titoli
      description: Endpoint for degrees and qualifications - DGElencoEsamiTitoli
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGRiepilogoAmbiguitaForm.do:
    get:
      operationId: getDgriepilogoambiguitaform
      summary: Riepilogo Ambiguita Form
      description: Endpoint for degrees and qualifications - DGRiepilogoAmbiguitaForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGTitoliStartActionLoopRouter.do:
    get:
      operationId: getDgtitolistartactionlooprouter
      summary: Titoli Start Action Loop Router
      description: Endpoint for degrees and qualifications - DGTitoliStartActionLoopRouter
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
    post:
      operationId: postDgtitolistartactionlooprouter
      summary: Titoli Start Action Loop Router
      description: Endpoint for degrees and qualifications - DGTitoliStartActionLoopRouter
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGTitoloUnivAction.do:
    get:
      operationId: getDgtitolounivaction
      summary: Titolo Univ Action
      description: Endpoint for degrees and qualifications - DGTitoloUnivAction
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      parameters:
        - name: tipo_titit_cod
          in: query
          description: 'Query parameter: tipo_titit_cod'
          required: false
          schema:
            type: string
          example: LS
        - name: rif_flg
          in: query
          description: 'Query parameter: rif_flg'
          required: false
          schema:
            type: string
          example: '0'
        - name: sta_tit_it_cod
          in: query
          description: 'Query parameter: sta_tit_it_cod'
          required: false
          schema:
            type: string
          example: I
        - name: my_dett_ta_id_list
          in: query
          description: 'Query parameter: my_dett_ta_id_list'
          required: false
          schema:
            type: string
          example: ''
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGTitoloUnivStraAction.do:
    get:
      operationId: getDgtitolounivstraaction
      summary: Titolo Univ Stra Action
      description: Endpoint for degrees and qualifications - DGTitoloUnivStraAction
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      parameters:
        - name: tipo_titit_cod
          in: query
          description: 'Query parameter: tipo_titit_cod'
          required: false
          schema:
            type: string
          example: TS
        - name: rif_flg
          in: query
          description: 'Query parameter: rif_flg'
          required: false
          schema:
            type: string
          example: '0'
        - name: sta_tit_it_cod
          in: query
          description: 'Query parameter: sta_tit_it_cod'
          required: false
          schema:
            type: string
          example: C
        - name: my_dett_ta_id_list
          in: query
          description: 'Query parameter: my_dett_ta_id_list'
          required: false
          schema:
            type: string
          example: '7728'
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGUploadAllegatiDeleteTitStra.do:
    post:
      operationId: postDguploadallegatideletetitstra
      summary: Upload Allegati Delete Tit Stra
      description: Endpoint for degrees and qualifications - DGUploadAllegatiDeleteTitStra
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ALLEGATO_ID:
                  type: string
                  example: '1274785'
                form_id_form1:
                  type: string
                  example: form1
                btnOk:
                  type: string
                  example: Conferma
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DGUploadAllegatiTitStraForm.do:
    post:
      operationId: postDguploadallegatititstraform
      summary: Upload Allegati Tit Stra Form
      description: Endpoint for degrees and qualifications - DGUploadAllegatiTitStraForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formInsAllegati:
                  type: string
                  example: formInsAllegati
                btnInsert:
                  type: string
                  example: Inserisci Allegato
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
    get:
      operationId: getDguploadallegatititstraform
      summary: Upload Allegati Tit Stra Form
      description: Endpoint for degrees and qualifications - DGUploadAllegatiTitStraForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      parameters:
        - name: ALLEGATO_ID
          in: query
          description: 'Query parameter: ALLEGATO_ID'
          required: false
          schema:
            type: string
          example: '1274785'
        - name: IS_DELETE
          in: query
          description: 'Query parameter: IS_DELETE'
          required: false
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/DGUploadAllegatiTitStraSubmit.do:
    post:
      operationId: postDguploadallegatititstrasubmit
      summary: Upload Allegati Tit Stra Submit
      description: Endpoint for degrees and qualifications - DGUploadAllegatiTitStraSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DatiTitoloUnvStraForm.do:
    get:
      operationId: getDatititolounvstraform
      summary: Dati Titolo Unv Stra Form
      description: Endpoint for degrees and qualifications - DatiTitoloUnvStraForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/DatiTitoloUnvStraSubmit.do:
    post:
      operationId: postDatititolounvstrasubmit
      summary: Dati Titolo Unv Stra Submit
      description: Endpoint for degrees and qualifications - DatiTitoloUnvStraSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/nazione_id:
                  type: string
                  example: '47'
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/ateneo_straniero_id:
                  type: string
                  example: '6651'
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/tipo_titst_cod:
                  type: string
                  example: PHD
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/cds_straniero:
                  type: string
                  example: Test - Scusatemi sto controllando una funzione del sito ignorate la richiesta
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/durata_anni:
                  type: string
                  example: '5'
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/data_conseg_titolo:
                  type: string
                  example: 01/01/2012
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/voto:
                  type: string
                  example: 98/110
                /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/voto_alfanumerico:
                  type: string
                form_id_formDatiTitolo:
                  type: string
                  example: formDatiTitolo
                _fw_refresh-form.x:
                  type: string
                  example: /WS/DataSet[@LocalEntityName='TIT_STRA_WEB']/Row[@Num='1']/nazione_id
                btnProcedi:
                  type: string
                  example: Procedi
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/DatiTitoloUnvSubmit.do:
    post:
      operationId: postDatititolounvsubmit
      summary: Dati Titolo Unv Submit
      description: Endpoint for degrees and qualifications - DatiTitoloUnvSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='TIT_IT_WEB']/Row[@Num='1']/titit_cod:
                  type: string
                  example: '73111'
                /WS/DataSet[@LocalEntityName='TIT_IT_WEB']/Row[@Num='1']/des_cds:
                  type: string
                  example: Informatica
                /WS/DataSet[@LocalEntityName='TIT_IT_WEB']/Row[@Num='1']/aa_conseg_titolo:
                  type: string
                  example: '2023'
                /WS/DataSet[@LocalEntityName='TIT_IT_WEB']/Row[@Num='1']/percorso_di_studio:
                  type: string
                form_id_formDatiTit:
                  type: string
                  example: formDatiTit
                btnSubmit:
                  type: string
                  example: Procedi
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/EnteTitoloUniSubmit.do:
    post:
      operationId: postEntetitolounisubmit
      summary: Nte Titolo Uni Submit
      description: Endpoint for degrees and qualifications - EnteTitoloUniSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                scelta_ateneo:
                  type: string
                  example: C
                tit_it_id:
                  type: string
                tipo_titit_cod:
                  type: string
                  example: LS
                rif_flg:
                  type: string
                  example: '0'
                sta_tit_it_cod:
                  type: string
                  example: I
                old_struttura_txt:
                  type: string
                form_id_formOrdTit:
                  type: string
                  example: formOrdTit
                procedi:
                  type: string
                  example: Procedi
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/MsgPre.do:
    get:
      operationId: getMsgpre
      summary: Msg Pre
      description: Endpoint for degrees and qualifications - MsgPre
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/MsgPreSubmit.do:
    post:
      operationId: postMsgpresubmit
      summary: Msg Pre Submit
      description: Endpoint for degrees and qualifications - MsgPreSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/RicercaAteneoForm.do:
    get:
      operationId: getRicercaateneoform
      summary: Ricerca Ateneo Form
      description: Endpoint for degrees and qualifications - RicercaAteneoForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/RiepilogoDatiTitoloUnivStraForm.do:
    get:
      operationId: getRiepilogodatititolounivstraform
      summary: Riepilogo Dati Titolo Univ Stra Form
      description: Endpoint for degrees and qualifications - RiepilogoDatiTitoloUnivStraForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      parameters:
        - name: tit_stra_id
          in: query
          description: 'Query parameter: tit_stra_id'
          required: false
          schema:
            type: string
          example: '27827'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/StrutRiferimentoForm.do:
    get:
      operationId: getStrutriferimentoform
      summary: Strut Riferimento Form
      description: Endpoint for degrees and qualifications - StrutRiferimentoForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/TitoliRichiestiForm.do:
    get:
      operationId: getTitolirichiestiform
      summary: Titoli Richiesti Form
      description: Endpoint for degrees and qualifications - TitoliRichiestiForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Degrees/TitoliRichiestiSubmit.do:
    post:
      operationId: postTitolirichiestisubmit
      summary: Titoli Richiesti Submit
      description: Endpoint for degrees and qualifications - TitoliRichiestiSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ok_titoli_richiesti:
                  type: string
                  example: '1'
                all_matur_cons_obbl:
                  type: string
                  example: '1'
                all_matur_ipo_obbl:
                  type: string
                  example: '1'
                all_titit_cons_obbl:
                  type: string
                  example: '1'
                all_titit_ipo_obbl:
                  type: string
                  example: '1'
                esa_tit_cons_flg:
                  type: string
                  example: '1'
                esa_tit_ipo_flg:
                  type: string
                  example: '1'
                all_titstra_cons_obbl:
                  type: string
                  example: '1'
                all_titstra_ipo_obbl:
                  type: string
                  example: '1'
                form_id_formTitoliRichiesti:
                  type: string
                  example: formTitoliRichiesti
                procedi:
                  type: string
                  example: Procedi
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/TitoloUnivSelezioneCorsoSubmit.do:
    post:
      operationId: postTitolounivselezionecorsosubmit
      summary: Titolo Univ Selezione Corso Submit
      description: Endpoint for degrees and qualifications - TitoloUnivSelezioneCorsoSubmit
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                /WS/DataSet[@LocalEntityName='TIT_IT_WEB']/Row[@Num='1']/sta_tit_it_cod:
                  type: string
                  example: I
                tit_it_id:
                  type: string
                tipo_titit_cod:
                  type: string
                  example: LS
                rif_flg:
                  type: string
                  example: '0'
                sta_tit_it_cod:
                  type: string
                  example: I
                old_struttura_txt:
                  type: string
                form_id_formCds:
                  type: string
                  example: formCds
                procedi:
                  type: string
                  example: Procedi
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Degrees/TitoloUnivSelezioneTipoTitForm.do:
    get:
      operationId: getTitolounivselezionetipotitform
      summary: Titolo Univ Selezione Tipo Tit Form
      description: Endpoint for degrees and qualifications - TitoloUnivSelezioneTipoTitForm
      tags:
        - esse3_degrees
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EDomPassElencoAction.do:
    get:
      operationId: getEdompasselencoaction
      summary: Dom Pass Elenco Action
      description: Endpoint for enrollment - EDomPassElencoAction
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EElencoAllegati.do:
    get:
      operationId: getEelencoallegati
      summary: Elenco Allegati
      description: Endpoint for enrollment - EElencoAllegati
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EElencoAllegatiSubmit.do:
    post:
      operationId: postEelencoallegatisubmit
      summary: Elenco Allegati Submit
      description: Endpoint for enrollment - EElencoAllegatiSubmit
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                raw:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EImmatricolazioneNewAction.do:
    get:
      operationId: getEimmatricolazionenewaction
      summary: Immatricolazione New Action
      description: Endpoint for enrollment - EImmatricolazioneNewAction
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EScePdsStartFakeProcess.do:
    get:
      operationId: getEscepdsstartfakeprocess
      summary: Sce Pds Start Fake Process
      description: Endpoint for enrollment - EScePdsStartFakeProcess
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Carriera
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/Enrollment/EUploadAllegatiMatMsgPre.do:
    get:
      operationId: getEuploadallegatimatmsgpre
      summary: Upload Allegati Mat Msg Pre
      description: Endpoint for enrollment - EUploadAllegatiMatMsgPre
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Enrollment/EUploadAllegatiMatStartProcesso.do:
    get:
      operationId: getEuploadallegatimatstartprocesso
      summary: Upload Allegati Mat Start Processo
      description: Endpoint for enrollment - EUploadAllegatiMatStartProcesso
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Enrollment/EUploadAllegatiStartFakeProcesso.do:
    get:
      operationId: getEuploadallegatistartfakeprocesso
      summary: Upload Allegati Start Fake Processo
      description: Endpoint for enrollment - EUploadAllegatiStartFakeProcesso
      tags:
        - esse3_enrollment
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Carriera
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Home.do:
    get:
      operationId: getHome
      summary: Home
      description: Endpoint for system - Home
      tags:
        - esse3_auth
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: ''
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/Logon.do:
    get:
      operationId: getLogon
      summary: Logon
      description: Endpoint for system - Logon
      tags:
        - esse3_auth
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: ''
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/questionari/QuestionariWrapperAdLibrettoValDid.do:
    get:
      operationId: getQuestionariwrapperadlibrettovaldid
      summary: Questionari Wrapper Ad Libretto Val Did
      description: Endpoint for questionnaires - QuestionariWrapperAdLibrettoValDid
      tags:
        - esse3_questionari
      security:
        - sessionAuth: []
      parameters:
        - name: evento_comp_cod
          in: query
          description: 'Query parameter: evento_comp_cod'
          required: false
          schema:
            type: string
          example: EV_VAL_DID
        - name: adsce_id
          in: query
          description: 'Query parameter: adsce_id'
          required: false
          schema:
            type: string
          example: '10942462'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/questionari/QuestionarioGenWrapper.do:
    get:
      operationId: getQuestionariogenwrapper
      summary: Questionario Gen Wrapper
      description: Endpoint for questionnaires - QuestionarioGenWrapper
      tags:
        - esse3_questionari
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_questionari_Questionari_generici
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/AdministrativeFunctions/DomProrogaElencoDomandeAction.do:
    get:
      operationId: getDomprorogaelencodomandeaction
      summary: Dom Proroga Elenco Domande Action
      description: Endpoint for system - DomProrogaElencoDomandeAction
      tags:
        - esse3_student
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Carriera
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/AltriDatiSubmit.do:
    post:
      operationId: postAltridatisubmit
      summary: Altri Dati Submit
      description: Endpoint for admission - AltriDatiSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                ind_rich_boll_pag:
                  type: string
                  example: '0'
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/Bacheca.do:
    get:
      operationId: getBacheca
      summary: Bacheca
      description: Endpoint for admission - Bacheca
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: tipoTestCod
          in: query
          description: 'Query parameter: tipoTestCod'
          required: false
          schema:
            type: string
          example: A
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/BachecaAmmissione.do:
    get:
      operationId: getBachecaammissione
      summary: Bacheca Ammissione
      description: Endpoint for admission - BachecaAmmissione
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/BachecaNazionali.do:
    get:
      operationId: getBachecanazionali
      summary: Bacheca Nazionali
      description: Endpoint for admission - BachecaNazionali
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/BachecaValutazione.do:
    get:
      operationId: getBachecavalutazione
      summary: Bacheca Valutazione
      description: Endpoint for admission - BachecaValutazione
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: menu_opened_cod
          in: query
          description: 'Query parameter: menu_opened_cod'
          required: false
          schema:
            type: string
          example: menu_link-navbox_studenti_Segreteria
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/Cds.do:
    get:
      operationId: getCds
      summary: Cds
      description: Endpoint for admission - Cds
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/CodAut.do:
    get:
      operationId: getCodaut
      summary: Cod Aut
      description: Endpoint for admission - CodAut
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/CompilaQuestionarioConcorsi.do:
    get:
      operationId: getCompilaquestionarioconcorsi
      summary: Compila Questionario Concorsi
      description: Endpoint for admission - CompilaQuestionarioConcorsi
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: questionario_id
          in: query
          description: 'Query parameter: questionario_id'
          required: false
          schema:
            type: string
          example: '117'
        - name: pos_id
          in: query
          description: 'Query parameter: pos_id'
          required: false
          schema:
            type: string
          example: ''
        - name: concorsi_quest_id
          in: query
          description: 'Query parameter: concorsi_quest_id'
          required: false
          schema:
            type: string
          example: '1178'
        - name: pageRedirect
          in: query
          description: 'Query parameter: pageRedirect'
          required: false
          schema:
            type: string
          example: auth/studente/Admission/ConcQuestionariPre.do
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/ConcQuestionariPre.do:
    get:
      operationId: getConcquestionaripre
      summary: Questionari Pre
      description: Endpoint for admission - ConcQuestionariPre
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/ConcStampa.do:
    get:
      operationId: getConcstampa
      summary: Stampa
      description: Endpoint for admission - ConcStampa
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: test_id
          in: query
          description: 'Query parameter: test_id'
          required: false
          schema:
            type: string
          example: '153'
        - name: FATT_ID
          in: query
          description: 'Query parameter: FATT_ID'
          required: false
          schema:
            type: string
          example: ''
        - name: pos_id
          in: query
          description: 'Query parameter: pos_id'
          required: false
          schema:
            type: string
          example: '3'
        - name: aa_id
          in: query
          description: 'Query parameter: aa_id'
          required: false
          schema:
            type: string
          example: '2025'
        - name: tipoTestCod
          in: query
          description: 'Query parameter: tipoTestCod'
          required: false
          schema:
            type: string
          example: A
        - name: TIPO_CORSO_COD
          in: query
          description: 'Query parameter: TIPO_CORSO_COD'
          required: false
          schema:
            type: string
          example: CF
        - name: AB_PROF_COD
          in: query
          description: 'Query parameter: AB_PROF_COD'
          required: false
          schema:
            type: string
          example: ''
        - name: tipo_spec_cod
          in: query
          description: 'Query parameter: tipo_spec_cod'
          required: false
          schema:
            type: string
          example: ''
        - name: tipo_pos_cod
          in: query
          description: 'Query parameter: tipo_pos_cod'
          required: false
          schema:
            type: string
          example: PIM
      responses:
        '200':
          description: Successful operation
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /auth/studente/Admission/ConfermaConfigurazioneIscrizioneConcorsoSubmit.do:
    post:
      operationId: postConfermaconfigurazioneiscrizioneconcorsosubmit
      summary: Conferma Configurazione Iscrizione Concorso Submit
      description: Endpoint for admission - ConfermaConfigurazioneIscrizioneConcorsoSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Conferma e prosegui
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/ConfermaSceltaConcorsoSubmit.do:
    post:
      operationId: postConfermasceltaconcorsosubmit
      summary: Conferma Scelta Concorso Submit
      description: Endpoint for admission - ConfermaSceltaConcorsoSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Conferma e prosegui
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/ConfermaSubmit.do:
    post:
      operationId: postConfermasubmit
      summary: Conferma Submit
      description: Endpoint for admission - ConfermaSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                EVENTO_COMP_COD:
                  type: string
                  example: PRE_CONC
                /WS/DataSet[@LocalEntityName='CONC_SCELTA']/Row[@Num='1']/tipo_corso_cod:
                  type: string
                  example: CF
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Completa ammissione al concorso
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/ConfermaTitoliDiValutazioneSubmit.do:
    post:
      operationId: postConfermatitolidivalutazionesubmit
      summary: Conferma Titoli Di Valutazione Submit
      description: Endpoint for admission - ConfermaTitoliDiValutazioneSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Avanti
      responses:
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/DettagliIscrizione.do:
    get:
      operationId: getDettagliiscrizione
      summary: Dettagli Iscrizione
      description: Endpoint for admission - DettagliIscrizione
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: tipoTestCod
          in: query
          description: 'Query parameter: tipoTestCod'
          required: false
          schema:
            type: string
          example: A
        - name: POS_ID
          in: query
          description: 'Query parameter: POS_ID'
          required: false
          schema:
            type: string
          example: '3'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/DettaglioTitoliValutazione.do:
    get:
      operationId: getDettagliotitolivalutazione
      summary: Dettaglio Titoli Valutazione
      description: Endpoint for admission - DettaglioTitoliValutazione
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/DettaglioTitoliValutazioneSubmit.do:
    post:
      operationId: postDettagliotitolivalutazionesubmit
      summary: Dettaglio Titoli Valutazione Submit
      description: Endpoint for admission - DettaglioTitoliValutazioneSubmit
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                allega_doc:
                  type: string
                  example: '0'
                form_id_formPrincipale:
                  type: string
                  example: formPrincipale
                btnSubmit:
                  type: string
                  example: Avanti
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
        '302':
          description: Redirect
          headers:
            Location:
              description: Redirect URL
              schema:
                type: string
                format: uri
  /auth/studente/Admission/DichiarazioneTitoloValutazione.do:
    get:
      operationId: getDichiarazionetitolovalutazione
      summary: Dichiarazione Titolo Valutazione
      description: Endpoint for admission - DichiarazioneTitoloValutazione
      tags:
        - esse3_admission
      security:
        - sessionAuth: []
      parameters:
        - name: id
          in: query
          description: 'Query parameter: id'
          required: false
          schema:
            type: string
          example: '15934'
        - name: is_delete
          in: query
          description: 'Query parameter: is_delete'
          required: false
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: Successful operation
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/HTMLResponse'
  /auth/studente/Admission/DichiarazioneTitoloValutazioneSubmit.do:
    post:
      operationId: postDichiarazionetitolovalutazionesubmit
      summary: Dichiarazione Titolo Valutazione Submit
[...]
